* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#game-canvas {
	width: 1400px;
	height: 830px;
	background-color: rgb(255, 255, 255);
	border: solid 10px rgb(204, 0, 255);
	border-style:double;
}
